<h1>Showing article details</h1>

#<%= %> is how you pick a ruby code section #
 <p><strong> Title: </strong><%= @article.title %></p>
  <p><strong>Description: </strong><%= @article.description %></p>