<h1>This is the homepage.</h1>

<p>
<strong> This application allows for CRUD Activites. Please take me for a spin! By clicking one of the links below! </strong>
</p>

<%= link_to "Articles Listing", articles_path%>
<br>
<%= link_to "About page", about_path %>

