<h1>This is the homepage. Please enter "localhost:3000/about" to see the about page</h1>

<ul> 
    <li>Here we can make a list of items:</li>
    <li>Banana</li>
    <li>Peache</li>
    <li>Apple</li>
</ul>
